# LECTURE 1

In [ ]:
#multilined comments are written in """"""""""

"""
this is a comment.
This is line 2
"""

In [3]:
msg="String msg"
type(msg)

int

In [4]:
msg2=10
type(msg2)

int

In [7]:
input("enter the number...")

enter the number...23
enter the number...45
45

In [8]:
#we use variables to store the input that the user is giving
a = input("enter the number...")
print(a)

enter the number...89
89

In [14]:
#Typecasting: Changing of one type to another
a=int(input("enter the number..."))
type(a)

enter the number...90

int

In [10]:
##IF Statement##

a=10
print("program start")
if a==5:
    print("the value of a is 5")
print("program end")

program start
program end

In [15]:
##IF Else Statement##

a=10
print("program start")
if a==5:
    print("the value of A is 5")
else:
    print("The value of A is not 5")
print("program end")

program start
The value of A is not 5
program end

# LECTURE 3

In [ ]:
#based on the user input, print the corresponding day of the week if 1=> sunday, if 2=>monday,....

In [12]:
a=int(input("Enter the number"))
if a==1:
    print("sunday")
elif a==2:
    print("monday")
elif a==3:
    print("tuesday")
elif a==3:
    print("wednesday")
elif a==4:
    print("thursday")
elif a==5:
    print("friday")
elif a==6:
    print("saturday")
else:
    print("not defined")

Enter the number6
saturday

In [2]:
name="Ardra KS"
print(len(name))

8

### String

In [1]:
#Strip(), split(), format()
#strip function removes the space between the strings
name = "        fdghjjk           hj,k.    "
print(len(name))
print(name.strip()) #attathe space povm

35
fdghjjk           hj,k.

In [4]:
#To get thee individual characters saperately
numbers = "2,3,4,5,6,7,8"
numbers="a.b,c.d"
print(numbers.split('.'))

['a', 'b,c', 'd']

In [23]:
numbers = "2,3,4,5,6,7,8"
nos = numbers.split(',')
print(nos)
sum=0
for item in nos:
    #print(item)
    sum=sum+int(item)
print(sum)

['2', '3', '4', '5', '6', '7', '8']
35

In [6]:
#To find the sum to these numbers. Now the numbers are of type numbers.
numbers = "2,3,4,5,6,7,8"
nos = numbers.split(',')
print(type(nos))
for item in nos:
    temp = int(item) #temp stores the integer version of item
    print(item, type(item), temp, type(temp))

<class 'list'>
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
4 <class 'str'> 4 <class 'int'>
5 <class 'str'> 5 <class 'int'>
6 <class 'str'> 6 <class 'int'>
7 <class 'str'> 7 <class 'int'>
8 <class 'str'> 8 <class 'int'>

In [15]:
#To find the sum to these numbers

numbers = "2,3,4,5,6,7,8"
nos = numbers.split(',')
sum = 0
for item in nos:
    temp = int(item) 
    sum = sum+temp
print(sum)

35

### Format()

In [7]:
name = input("Enter the user name:")
password = input("Enter the password")
print("your username:{} and password entered is:{}".format(name,password))
print("your username:",name," and password entered is",password)

your username:Kusuuuuuuuuu and password entered is:lebanese
your username: Kusuuuuuuuuu  and password entered is lebanese

### For loop

In [22]:
for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
#Find the sum of n multiples of 2 where n is the use input
n=int(input("Enter n:"))
sum = 0
for i in range(2,2*(n+1),2):
    sum = sum+i
print(sum)

Enter n:3
12

### List

In [11]:
#Combination of strings
nlsit = ["abc","123",56,13]

# LECTURE 4

In [9]:
listex = ['one', 'two', 'three', 'four']
print(listex[3])

four

In [4]:
if "three" in listex:
    print("sucess")

sucess

In [7]:
print(listex)

['one', 'two', 'three', 'four']

In [14]:
#Append is a function used to add an element
listex.append('six')
listex.insert(0,'seven')
listex.remove('s')
print(listex)

['seven', 'seven', 'seven', 'one', 'two', 'three', 'four', 'six', 'six', 'six']

In [20]:
#pop is a function to remove an element. By default last element will get removed or else index should be mentioned in ()
listex.pop(0)

'one'

In [26]:
#Sort function helps to sort the list and reverse function will reverse the list
listex.sort()
print(listex)
listex.reverse()
print(listex)

['four', 'six', 'three', 'two']
['two', 'three', 'six', 'four']

### Functions

In [16]:
##defining the function and Calling the function
#This is without parameter and not returning value

def fname(): 
    print("I am your first function..")
fname()

I am your first function..

In [22]:
def fname(): 
    print("I am your first function..")
    retVal = ("sucess")
    return retVal, True
fname()
#print(status)

I am your first function..

('sucess', True)

In [18]:
status, flag = fname()
print(status, flag)

I am your first function..
sucess True

In [21]:
#Functions with parameter
def fname(n): 
    print("I am your first function..",n)
    retVal = ("sucess")
    return retVal,True
name="Ardra"
status,flag=fname(name)
print(status,flag)

I am your first function.. Ardra
sucess True

# LECTURE 5

In [16]:
#Define a function that takes alist of numbers as input and return the sum of numbers, without any pre-defined functions.

lst = [1,2,3]
def sumlist(lst):
    sum = 0
    for item in lst:
        sum = sum+item
    return sum
sumlist(lst)

6

In [24]:
lst = input("Enter coma sep value")
new = lst.split(',')
print(new)
newlst = []
for item in new:
    newlst.append(int(item))
def sumlst(newlst):
    sum = 0
    for item in newlst:
        sum = sum+item
    return sum
sumlst(newlst)

['1', '2', '3', '4', '5', '6', '7']

28

In [26]:
lst1 = input("enter the comma saperated values")
newLst1 = lst1.split(',')
sum = 0
for item in newLst1:
    sum = sum + int(item)
print(sum)

15

In [28]:
lst=[1,2,3,4,5]
lst.pop(1)
print(lst)

[1, 3, 4, 5]

In [29]:
def sumList(lst):
    sum = 0
    #Logic to sum the numbers in thes list
    for item in lst:
        sum+= int(item)
    return sum

userInput = input("Enter the list of numbers saperated by comma")
array = userInput.strip().split(',')
sum = sumList(array)
print("Sum: ",sum)

Enter the list of numbers saperated by comma1,2,4
Sum:  7

In [1]:
#count the number odd and even numbers in the list and print the odd numbers count and even numbers count 
#along with the numbers

#You will have a function that will take a list of numbers, that returns the count of odd numbers and even numbers
#and the new list of odd numbers and even numbers.
def numbers(NumLst):
    Even = []
    odd = []
    for item in NumLst:
        if item %2 ==0:
            Even.append(item)
        else:
            odd.append(item)
    print("Even list is:",Even)
    print("Odd list is",odd)
    print("Count of odd is:",len(odd))
    print("count of Even is:",len(Even))

NumLst = []
n = int(input("Enter the number of numbers:"))
for i in range(n):
    inp = int(input("Enter numbers"))
    NumLst.append(inp)
print(NumLst)

numbers(NumLst)

[1, 5, 4, 3, 5]
Even list is: [4]
Odd list is [1, 5, 3, 5]
Count of odd is: 4
count of Even is: 1

# Lecture 6

In [22]:
#Open("file name", "mode in which you can access the file") is afunction used to open some file. 
file=open("sample.txt","w+")

In [25]:
file.write("this is my first line to file from python\n")

42

In [26]:
file.close()

In [29]:
file = open("sample.txt","r+")
file.readline()

'this is my first line to file from python\n'

In [30]:
file.readlines()

['this is my first line to file from python\n',
 'this is my first line to file from python\n']

In [ ]:
#Write a function that accepts your details and save it into file with your name

In [41]:
Name = str(input("Name:"))
Age = str(input("Age:"))
def details(Name,Age):
    file = open("Ardra1.txt","w+")
    file.write(Name)
    file.write(Age)
    file.close()
details(Name,Age)

Name:Ardra
Age:22

In [5]:
def saveDetails(name,email,phone):
    filename = name+".txt"
    with open("filename.txt","w+") as file:
        file.write("name\t:\t"+name)
        file.write("\nemail\t:\t"+email)
        file.write("\nPhone\t:\t"+phone)

user_name = input("Enter your Name:")
user_email = input("Enter your Email:")
user_phone = input("Enter your Phone:")

saveDetails(user_name,user_email,user_phone)

Enter your Name:ardra
Enter your Email:asdfgh@gmail.com
Enter your Phone:12345678

In [14]:
#Write a python program that will take two operants and an operator and performs the calculation and gives the result.
#Also save the calculations that your program performs in a file

a=int(input("a="))
b=int(input("b="))
operator = input("operator =")
operator = ["add","subract","multiply","divide","modulus"]
def operation(a,b, operator):
    if operator =="add":
        a+b
    elif operator == "multiply":
        a*b
    elif operator == "divide":
        a/b
    elif operator == "modulus":
        a%b
    elif operator == "subract":
        a-b
    else:
        print("no such opeartor")
operation(a,b, operator)

a=2
b=4
operator ="add"
no such opeartor

# Lecture 8

### While Loop

In [1]:
#While loop

#while condition:
    #code block

In [3]:
a = 0
while a<7:
    res = a*a
    print(a,res)
    a=a+1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

### Break and Continue

In [8]:
for i in range(1,10,1):
    if i ==7:
        break
    print(i)

1
2
3
4
5
6

In [11]:
for i in range(1,10,1):
    if i ==7:
        continue
    print(i)

1
2
3
4
5
6
8
9

### Set

In [12]:
#set only stores unique values
#we can't access values using index

In [18]:
list_ex = ["ABC","EDF","ABC","DEF","BCD","NBG","FGT"]
set_ex = set(list_ex)
back = list(set_ex)
print(list_ex)
print(set_ex)
print(back)
print(type(list_ex))
print(type(set_ex))
print(type(back))

['ABC', 'EDF', 'ABC', 'DEF', 'BCD', 'NBG', 'FGT']
{'FGT', 'BCD', 'NBG', 'EDF', 'DEF', 'ABC'}
['FGT', 'BCD', 'NBG', 'EDF', 'DEF', 'ABC']
<class 'list'>
<class 'set'>
<class 'list'>

In [19]:
#Create a list of names that are random and repeating from the user
#identify the unique items and their count

In [2]:
names = []
n= int(input("Enter the number of names: "))
for i in range(0,n):
    name = input("Enter the names: ")
    name = name.strip()
    name = name.upper()
    names.append(name)
print(names)

Enter the number of names: 3
Enter the names: a
Enter the names: b
Enter the names: a
['A', 'B', 'A']

In [30]:
unique_name = set(names)
print(unique_name)

{'NANDHU', 'ARDRA'}

In [32]:
#to count each name
for search in unique_name:
    count = 0
    for item in names:
        if search == item:
            count = count+1
    print(search,count)

NANDHU 1
ARDRA 2

### Dictionary

In [ ]:
#Key value pairs. pairs are saperated by commas. No concept of index. 
#if we want to extract a value, call it by keyname. if you want to change the value of a key, we can assign accordingly

In [2]:
my_dict = {
    "Name":"Ardra Sukumaran",
    "phone": 9207642847,
    "email":"ardra.ks@msds.christuniversity.in",
    
}

In [5]:
print(my_dict["Name"])

Ardra Sukumaran

In [8]:
my_dict["Name"] = "Ardra Suku"
print(my_dict)

{'Name': 'Ardra Suku', 'phone': 9207642847, 'email': 'ardra.ks@msds.christuniversity.in'}

In [9]:
#If you want to add a new key to the dictionary

In [12]:
my_dict["Address"] = "CHRIST (Deemed to be University)"
print(my_dict)

{'Name': 'Ardra Suku', 'phone': 9207642847, 'email': 'ardra.ks@msds.christuniversity.in', 'Address': 'CHRIST (Deemed to be University)'}

In [14]:
my_dict.keys()

dict_keys(['Name', 'phone', 'email', 'Address'])

In [16]:
my_dict.values()

dict_values(['Ardra Suku', 9207642847, 'ardra.ks@msds.christuniversity.in', 'CHRIST (Deemed to be University)'])

In [18]:
for key in my_dict.keys():
    print(key)

Name
phone
email
Address

In [23]:
for value in my_dict.values():
    print(value)

Ardra Suku
9207642847
ardra.ks@msds.christuniversity.in
CHRIST (Deemed to be University)

In [28]:
students = {
    "Names": ["Ardra", "Sona","Ajith","Anushka","Soja","Anudarsh"],
    "RollNumbers": [1,2,3,4,5,6] 
}
for Name in students["Names"]:
    print(Name)

Ardra
Sona
Ajith
Anushka
Soja
Anudarsh

In [30]:
#To access one particular name
print(students["Names"][2])

Ajith

In [29]:
#To store many details in dictionary
MSDS = [
    {
        "RollNumber":23122101,
        "Name": "Aadith",
        "email": "aadi@christ.in",
        "phone": 9012345567
    },
    {
        "RollNumber":23122102,
        "Name": "Ardra",
        "email": "ardra@christ.in",
        "phone": 901289754
    },
    {
        "RollNumber":23122103,
        "Name": "Devika",
        "email": "devu@christ.in",
        "phone": 904567890
    },
    {
        "RollNumber":23122104,
        "Name": "Gokul",
        "email": "gokul@christ.in",
        "phone": 90123456789
    },
    {
        "RollNumber":23122105,
        "Name": "Nandhana",
        "email": "nandhu@christ.in",
        "phone": 9234567878
    },
    {
        "RollNumber":23122106,
        "Name": "Riya",
        "email": "Riya@christ.in",
        "phone": 90567890
    }
]

In [30]:
print(MSDS)

[{'RollNumber': 23122101, 'Name': 'Aadith', 'email': 'aadi@christ.in', 'phone': 9012345567}, {'RollNumber': 23122102, 'Name': 'Ardra', 'email': 'ardra@christ.in', 'phone': 901289754}, {'RollNumber': 23122103, 'Name': 'Devika', 'email': 'devu@christ.in', 'phone': 904567890}, {'RollNumber': 23122104, 'Name': 'Gokul', 'email': 'gokul@christ.in', 'phone': 90123456789}, {'RollNumber': 23122105, 'Name': 'Nandhana', 'email': 'nandhu@christ.in', 'phone': 9234567878}, {'RollNumber': 23122106, 'Name': 'Riya', 'email': 'Riya@christ.in', 'phone': 90567890}]

In [35]:
for student in MSDS:
    print(student)

{'RollNumber': 23122101, 'Name': 'Aadith', 'email': 'aadi@christ.in', 'phone': 9012345567}
{'RollNumber': 23122102, 'Name': 'Ardra', 'email': 'ardra@christ.in', 'phone': 901289754}
{'RollNumber': 23122103, 'Name': 'Devika', 'email': 'devu@christ.in', 'phone': 904567890}
{'RollNumber': 23122104, 'Name': 'Gokul', 'email': 'gokul@christ.in', 'phone': 90123456789}
{'RollNumber': 23122105, 'Name': 'Nandhana', 'email': 'nandhu@christ.in', 'phone': 9234567878}
{'RollNumber': 23122106, 'Name': 'Riya', 'email': 'Riya@christ.in', 'phone': 90567890}

In [35]:
for student in MSDS:
    for key in student.keys():
        print(student[key],end ="\t")
    print()

23122101	Aadith	aadi@christ.in	9012345567
23122102	Ardra	ardra@christ.in	901289754
23122103	Devika	devu@christ.in	904567890
23122104	Gokul	gokul@christ.in	90123456789
23122105	Nandhana	nandhu@christ.in	9234567878
23122106	Riya	Riya@christ.in	90567890

#LECTURE 9

Create a menu driven program that collects student details
name
email
phone
use dictionary to store student details

menu options:
1. create students
2. Search for students
3. Print students

In [ ]:
# studentDict={}

# #to store the details in the form of dictionary
# def createStudent(name,regno,email, phone):
#     student = {
#         "Name":name,
#         "Email": email,
#         "Phone": phone
#     }
#     studentDict[regno] = student

# #to collect details from user
# def details():
#     Name = input("Enter the name:")
#     regno = input("Enter the regno:")
#     email = input("Enter the email:")
#     phone = input("Enter the ph")
#     return Name, regno, email, phone

# #to print the details

# def printDetails():
#     print("Regno\tName\temail\tphone")
#     #extracting regno 
#     for regno in studentDict.keys():
#         print(regno,end="\t") #to print horizontally
#         for key in studentDict[regno]:
#             print(studentDict[regno][key],end = "\t")
#         print()

# while True:
#     print("Menu options")
#     print("1. Enter student info" )
#     print("3.Exit")

#     choice = input("Enter the choice").strip()
#     if choice == "1":
#         name, regno, email, phone = details()
#         createStudent(name, regno, email, phone)
#     elif choice =="2":
#         print(student)
#     elif choice =="3":
#         exit()
#     else:
#         print("invalid choice")

Menu options
1. Enter student info
3.Exit
Menu options
1. Enter student info
3.Exit
{'RollNumber': 23122106, 'Name': 'Riya', 'email': 'Riya@christ.in', 'phone': 90567890}
Menu options
1. Enter student info
3.Exit
invalid choice
Menu options
1. Enter student info
3.Exit
Menu options
1. Enter student info
3.Exit
{'RollNumber': 23122106, 'Name': 'Riya', 'email': 'Riya@christ.in', 'phone': 90567890}
Menu options
1. Enter student info
3.Exit
Menu options
1. Enter student info
3.Exit
Menu options
1. Enter student info
3.Exit
Menu options
1. Enter student info
3.Exit

:

#### LECTURE 10

##### CLASSES

In [1]:
# Create a menu driven program that collects students details
# > Name, Register Number, Email & Phone
# [Use dictionary to store student details]

# Menu Options
# 1. Create Students
# 2. Search for Students
# 3. Print Students

studentDict = {}

def createStudent(name,regno,email,phone):
    student = {
        "Name" : name,
        "Email" : email,
        "Phone" : phone
    }

    studentDict[regno] = student

def colletStudentInfo():
    name = input("Enter Student Name: ")
    regno = input("Enter Student regno: ")
    email = input("Enter Student Email: ")
    phone = input("Enter Student Phone: ")
    return name, regno, email, phone

def printStudents():
    print("Regno\tName\tEmail\tPhone")
    for regno in studentDict.keys():
        print(regno,end="\t")
        for key in studentDict[regno]:
            print(studentDict[regno][key],end='\t')
        print()

while True:
    print("Menu Options")
    print("1. Enter Student Info")
    print("2. List Students")
    print("3. Exit")

    choice = input("Enter the choice").strip()
    if choice == "1":
        name, regno, email, phone = colletStudentInfo()
        createStudent(name, regno, email, phone)
    elif choice == "2":
        printStudents()
    elif choice == "3":
        exit()
    else:
        print("Invalid Choice")

Menu Options
1. Enter Student Info
2. List Students
3. Exit
Invalid Choice
Menu Options
1. Enter Student Info
2. List Students
3. Exit

:

### LECTURE 12

##### Packages/Modules

To install the package we use pip. pip install pip is the syntax to install packages.
Once a package is used, there will be dependencies which use the package for its working on the backend. for example, pandas use specific version of numpy to work. For this we use virtual environment.
for data cleaning and data processing we usepackages like numpy and pandas. And mahplotlib is for visulaisation.These packages are deployed in the vesrion called pypi.org
Codes of this package is available in the git.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\ardra.ks\appdata\local\programs\python\python310\lib\site-packages (1.21.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\Ardra.ks\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import numpy as np

In [9]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [12]:
np.ones(100,dtype=int)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

# Lecture 13

Pandas can process different kinds of datasets.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ardra.ks\appdata\local\programs\python\python310\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\ardra.ks\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ardra.ks\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ardra.ks\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ardra.ks\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ardra.ks\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\Ardra.ks\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv(r"C:\Users\Ardra.ks\Documents\RESEARCH\march 2021.csv")
df.head(10)
df.tail(5)

,District,No: of Positive Cases,No: of Recoveries,Deaths,Vaccinations
9,Palakkad,76.709677,97.129032,0.064516,3768.483871
10,Pathanamthitta,120.838710,210.838710,0.483871,3067.903226
11,Thiruvanathapuram,173.709677,194.516129,1.666667,5948.967742
12,Thrissur,175.290323,240.419355,1.838710,4484.225806
13,Wayanad,52.225806,73.483871,0.290323,1332.322581

In [ ]:
#using class try to store, read csv file and def head and tail function
import csv
class pandas_Name:
    def __init__(self):
        csvData = []

## Lecture 14

we can package your own library and make others use of it. such kind of l;ibraries were pandas and numpy and others contributed for its development.